<div class="modal-header">
    <h3>Add Rug to Job</h3>
</div>
<form name="form.userForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>Size</label>

            <input type="number" name="size" class="form-control" ng-model="rug.size"
                   value="rug.size" required>
            <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine" class="help-block">You name is
                required.</p>
        </div>

        <div class="form-group">
            <label>Pictures</label>
            <img id="pano"></div>

        <lvl-file-upload
                auto-upload='true'
                choose-file-button-text='Add Image'
                upload-file-button-text='Upload files'
                upload-url='https://andrewscleaning.firebaseio.com/rugs/'
                max-files='10'
                max-file-size-mb='5'
                get-additional-data='getData()'
                on-done='done(files, data)'
                on-progress='progress(percentDone)'
                on-error='error(files, type, msg)'
                on-file-added='fileAdded(file)'/>
        <!--<div id='console' style="margin:25px;padding:5px;width:550px;overflow:auto;height:50px;-->
        <!--background-color:black;color:green;font-family:monospace;font-size:10pt"></div>-->
        <button id="console" class="btn btn-primary"
        >OK
        </button>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
        >OK
        </button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>

