<style>
    .center{
        width: 150px;
        margin: 40px auto;
        align-items: left;
    }
</style>
<div class="modal-header">
    <h4>Day {{dayNum + 1}}</h4>
</div>
<form name="form.equipmentForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
<label>Room: </label>
<!-- TODO drop down and initial quantity is broke -->
            <div>
                <select data-ng-model="selectedItem" ng-change="changedValue(selectedItem)"
                        data-ng-options="job.dayList[dayNum].rooms.indexOf(selectedItem) as selectedItem.name for selectedItem in job.dayList[dayNum].rooms" ">
                </select>

                <!--<select data-ng-model="activeRoom" ng-change="changedValue(activeRoom)"-->
                        <!--data-ng-options="room.name for room in job.dayList[dayNum].rooms ">-->
                <!--</select>-->
            </div>
        <div id="fields" ng-show="showFields"  disabled="true">
           <div class="center">
               <label>Fans on Site</label>

               <div class="input-group">

          <!--<span class="input-group-btn">-->
              <!--<button type="button" ng-model="fans" ng-click="removeFan()" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">-->
                  <!--<span class="glyphicon glyphicon-minus"></span>-->
              <!--</button>-->
          <!--</span>-->

                <!--<input type="text" name="quant[2]" class="form-control input-number" value="{{todaysEquipment.rooms[currentRoomNum].fans}}" min="0" max="100">-->
          <!--<span class="input-group-btn">-->
              <!--<button type="button" ng-model="fans" ng-click="addFan()" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">-->
                  <!--<span class="glyphicon glyphicon-plus"></span>-->
              <!--</button>-->
          <!--</span>-->

                   <div ng-repeat="fan in todaysEquipment.rooms[currentRoomNum].fans">
                       <h4>{{fan.id}} <button type="button"  ng-click="removeFan2(fan)" class="btn btn-default btn-xs">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                       </button></h4>
                   </div>
                   <select data-ng-model="selectedFan" ng-change=""
                           data-ng-options="company.equipment.fans.indexOf(selectedItem) as selectedItem.name for selectedItem in company.equipment.fans">
                   </select>
                   <h4>{{selectedFan.id}} <button type="button"  ng-click="addFan2(fan)" class="btn btn-default btn-xs">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                   </button></h4>
            </div>

               <label>Dehumidifiers:</label>

               <div class="input-group">

          <span class="input-group-btn">
              <button type="button" ng-model="fans" ng-click="removeDehu()" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
                   <input type="text" name="quant[2]" class="form-control input-number" value="{{todaysEquipment.rooms[currentRoomNum].dehus}}" min="0" max="100">
          <span class="input-group-btn">
              <button type="button" ng-model="fans" ng-click="addDehu()" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
               </div>
           </div>
</div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid || !job.rooms || job.rooms < 1">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
