<div class="alert alert-warning" ng-hide="online">
    Working Offline. Changes will be saved when an Internet connection is restored.
</div>

<div class="well well-sm">
   <h3 ng-show="contact.contactId">Update Contact</h3>
   <h3 ng-show="!contact.contactId">New Contact</h3>

   <!-- This is a responsive form. At small sizes the label will stack above its control. -->
   <form name="contactForm" class="form-horizontal" role="form" ng-submit="save()">

      <!-- First Name -->
      <div class="form-group">
         <label for="firstname" class="control-label col-md-2">First Name:</label>

         <div class="col-md-10">
            <input type="text" id="firstname" name="firstname" ng-model="contact.firstname" class="form-control col-md-10" placeholder="First name" minlength="2" ng-maxlength="20" focus required>

            <!-- Supposedly will use ngAnimate if it's available -->
            <div class="text-danger" ng-if="contactForm.firstname.$dirty" ng-messages="contactForm.firstname.$error">
               <div ng-message="required">A first name is required!</div>
               <div ng-message="minlength">First name too short!</div>
               <div ng-message="maxlength">First name is too long!</div>
            </div>

         </div>
      </div>

      <!-- Last Name -->
      <div class="form-group">
         <label for="lastname" class="control-label col-md-2">Last Name:</label>

         <div class="col-md-10">
            <input type="text" id="lastname" name="lastname" ng-model="contact.lastname" class="form-control col-md-10" placeholder="Last name" minlength="2" ng-maxlength="20" required>

            <div class="text-danger" ng-if="contactForm.lastname.$dirty" ng-messages="contactForm.lastname.$error">
               <div ng-message="required">A last name is required!</div>
               <div ng-message="minlength">Last name too short!</div>
               <div ng-message="maxlength">Last name is too long!</div>
            </div>
         </div>
      </div>

      <!-- Buttons -->
      <div>
         <span ng-show="contact.contactId">
            <button class="btn btn-primary" ng-disabled="contactForm.$invalid">Save</button>
         </span>

         <!-- Show this button when contact._id is blank. This happens when adding. -->
         <span ng-hide="contact.contactId">
            <button class="btn btn-primary" ng-disabled="contactForm.$invalid">Add</button>
         </span>

         <!-- Show this button when contactId is not blank. This happens when editing existing. -->
         <button class="btn btn-danger" type="button" ng-click="remove()" ng-show="contact.contactId">Delete</button>
      </div>
   </form>

   firstname = {{contact.firstname}}<br>
   firstname.$pristine = {{contactForm.firstname.$pristine}}<br>
   firstname.$dirty = {{contactForm.firstname.$dirty}}<br>
   firstname.$valid = {{contactForm.firstname.$valid}}<br>
   firstname.$error = {{contactForm.firstname.$error}}<br>
   <br>
   lastname = {{contact.lastname}}<br>
   lastname.$pristine = {{contactForm.lastname.$pristine}}<br>
   lastname.$dirty = {{contactForm.lastname.$dirty}}<br>
   lastname.$valid = {{contactForm.lastname.$valid}}<br>
   lastname.$error = {{contactForm.lastname.$error}}<br>
   <br>
   form.$valid = {{contactForm.$valid}}<br>
   form.$error.required = {{!!contactForm.$error.required}}<br>
   form.$error.minlength = {{!!contactForm.$error.minlength}}<br>
   form.$error.maxlength = {{!!contactForm.$error.maxlength}}<br>

</div>
