<style>
    .center {
        width: 150px;
        margin: 40px auto;
        align-items: left;
    }
</style>
<div class="modal-header">
    <h4>Day {{dayNum + 1}}</h4>
</div>
<form name="form.equipmentForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- TODO drop down and initial quantity is broke -->
        <div>
            <div ng-show="!roomChanged">
                <label>Room: </label>

                <select data-ng-model="selectedItem" ng-change="changedCurrentRoomValue(selectedItem)"
                        data-ng-options="job.dayList[dayNum].rooms.indexOf(selectedItem) as selectedItem.name for selectedItem in job.dayList[dayNum].rooms"
                ">equipmentForm
                </select>
            </div>
        </div>
        <div id="fields" ng-show="showFields" disabled="true">
            <div class="panel-body">

                <tabset justified="true">

                    <tab heading="Equipment">
                        <div class="panel panel-default bootcards-richtext">
                            <div class="panel-body">

                                <!--<label>Equipment in Room:</label>-->

                                <div ng-repeat="equipment in todaysEquipment.rooms[currentRoomNum].equipment">
                                    <!--<div ng-show="equipment.type == 'fan'">-->

                                            <button type="button" ng-click="removeEquipment(equipment)"
                                                    class="btn btn-default btn-sm">{{equipment.type}} {{equipment.id}}
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>

                                    <!--</div>-->

                                </div>
                                <!--<label>Dehus on Site</label>-->
                                <!--<div ng-repeat="equipment in todaysEquipment.rooms[currentRoomNum].equipment">-->
                                    <!--<div ng-show="equipment.type == 'dehu'">-->
                                        <!--<h4>{{equipment.id}}-->
                                            <!--<button type="button" ng-click="removeEquipment(equipment)"-->
                                                    <!--class="btn btn-default btn-xs">-->
                                                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                                            <!--</button>-->
                                        <!--</h4>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!-- TODO important... make it so that if this day is not today then dont do filter -->
                                <div ng-show="showAdd">
<br>
                                    <select data-ng-model="sItem" ng-change="changeSelectedEquipmentToAdd(sItem)"
                                            data-ng-options="sItem as sItem.id  for sItem in activeEquipmentList">
                                    </select>
                                    <!-- TODO put a ng-show here ... cant have a add w/o a selection -->
                                    <button type="button" ng-click="addEquipment(sItem)"
                                            class="btn btn-default btn-sm">
                                        Add Equipment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Labor">
                        <div class="panel panel-default bootcards-richtext">
                            <div class="panel-body">
                                <div ng-repeat="(key, labor) in todaysEquipment.rooms[currentRoomNum].labor track by $index">
                                            <button  type="button" ng-click="removeLabor(labor)"
                                                    class="btn btn-default btn-sm">{{labor.name}} {{labor.value}}
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                <br>
                                </div>
                                <br>
                                <select data-ng-model="lItem" ng-change="changeSelectedLaborToAdd(lItem)"
                                        data-ng-options="lItem as lItem.name for lItem in company.laborList">
                                </select>
                                <!--TODO we are here-->
                                <div ng-show="lItem.type == 'area'">
                                    <input type="number" ng-model="value" min="0" step="1" />
                                </div>
                                <button type="button" ng-click="addLabor(lItem, value)"
                                        class="btn btn-default btn-sm">
                                    Add Labor
                                </button>

                            </div>
                        </div>
                    </tab>
                    <tab heading="Images">
                        <div class="panel panel-default bootcards-richtext">
                            <div class="panel-body">
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"
                    ng-disabled="form.userForm.$invalid || !job.rooms || job.rooms < 1">OK
            </button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
