<div class="container bootcards-container push-right">
    <div ng-show="loading"><span us-spinner></span>
        <br>
        <br>
        <br>
        <span us-spinner spinner-key="spinner-1"></span></div>

    <div ng-show="!loading">
        <div class="row">
            <div class="col-sm-5 bootcards-list" id="list" data-title="Contacts">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="search-form">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="jobLookup" class="form-control"
                                               placeholder="Job Number">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <a class="btn btn-primary btn-block"
                                       ng-click="addNewRugJob(jobLookup)"
                                    >
                                        <i class="fa fa-plus"></i>
                                        <span>Add</span>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                        <div class="list-group">
                            <a class="list-group-item" href="#/viewRugJob2/{{id}}" ng-repeat="(id, job) in contacts">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <i class="fa fa-3x fa-building-o pull-left"></i>
                                        <h4 class="list-group-item-heading">{{job.account.accountName}}</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <!--<div ng-show="job.startDate">-->
                                            <!--<p class="list-group-item-text">{{job.prettyStartDate}}</p>-->
                                            <!--<div ng-show="!job.rooms">-->
                                                <!--<span style="color:red">Needs a room</span>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                            <!--<span style="color:red">Needs startdate</span>-->
                                        <div class="alert alert-success" role="alert">
                                            {{job.rugStatus}}
                                        </div>
                                        <!--<p class="list-group-item-text">{{job.account.address1}}, {{job.account.city}}-->
                                            <!--{{job.account.zip}}</p>-->
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">
                            <lable>Totals:</lable>
                            <b> fans {{fansTotal}} dehus {{dehusTotal}} other: xx</b></small>
                        <a class="btn btn-link btn-xs pull-right" href="#">
                            Footer link</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 bootcards-list hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="search-form">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <input type="text" ng-model="jobLookup" class="form-control"
                                               placeholder="Job Number">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <a class="btn btn-primary btn-block"
                                       ng-click="addNewRugJob(jobLookup)"
                                    >
                                        <i class="fa fa-plus"></i>
                                        <span>Add</span>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                        <div class="list-group">
                            <a class="list-group-item" href="#/viewRugJob2/{{id}}" ng-repeat="(id, job) in contacts">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <i class="fa fa-3x fa-building-o pull-left"></i>
                                        <h4 class="list-group-item-heading">{{job.account.accountName}}</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <!--<div ng-show="job.startDate">-->
                                        <!--<p class="list-group-item-text">{{job.prettyStartDate}}</p>-->
                                        <!--<div ng-show="!job.rooms">-->
                                        <!--<span style="color:red">Needs a room</span>-->
                                        <!--</div>-->

                                        <!--</div>-->
                                        <!--<span style="color:red">Needs startdate</span>-->
                                        <div class="alert alert-success" role="alert">
                                            {{job.rugStatus}}
                                        </div>
                                        <!--<p class="list-group-item-text">{{job.account.address1}}, {{job.account.city}}-->
                                        <!--{{job.account.zip}}</p>-->
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <small class="pull-left">
                            <lable>Totals:</lable>
                            <b> fans {{fansTotal}} dehus {{dehusTotal}} other: xx</b></small>
                        <a class="btn btn-link btn-xs pull-right" href="#">
                            Footer link</a>
                    </div>
                </div>


        </div>

    </div>
</div>
</div>