<div id="contactCard" disabled="true">

<div id="days" ng-show="job.startDate && job.rooms.length >= 1"  disabled="true">
    <div ng-repeat="days in job.dayList track by $index">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">
                    <b> Day {{$index + 1}}</b>  ({{job.dayList[$index].date}})</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div ng-repeat="(key, room) in job.dayList[$index].rooms track by $index">
                        <div ng-show="key !== 'date' && key !== 'fans' && key !== 'dehus'">
                        <h4>{{room.name}}</h4>
                        <!--<label><b> 0{{room.fans}} fans 0{{room.dehus}} dehus</b></label>-->
                            <h4>Fans:</h4>
                            <div ng-repeat="(key, fan) in room.fans track by $index">
                                {{fan.id}}
                            </div>
                            <h4>Dehus:</h4>
                            <div ng-repeat="(key, dehu) in room.dehus track by $index">
                                {{dehu.id}}
                            </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <small class="pull-left"></small>
                <a class="btn btn-primary pull-right" ng-click="showForm($index)" <i class="fa fa-pencil"></i>
                <span >Edit</span></a>
            </div>
        </div>


    </div>

    <small class="pull-left"></small>
    <a class="btn btn-primary pull-left" ng-click="addDay()" <i class="fa fa-pencil"></i>
    <span >Add Day</span> <span>    </span>   </a>
    <a class="btn btn-primary" href="#/view/{{job.contactId}}"
    <span>Done</span></a>
</div>
</div>