<div class="alert alert-warning" ng-hide="online">Working Offline. Changes will be saved when an Internet connection is
    restored.
</div>

<div id="contactCard" disabled="true">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
                Basic Info</h3>
        </div>
        <div class="panel-body clearfix">

            Job # {{job.orderNumber}} <br>
            {{job.account.accountName}}<br> {{job.account.address1}}<br>
            {{job.account.city}}
            , {{job.account.zip}}<br><br>
            <a href="tel://" +{{job.phone1}}>
                <h4 class="list-group-item-heading"> {{job.account.phone1}}</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
                Status </h3>
        </div>
        <div class="panel-body clearfix">
            <div class="alert alert-success" role="alert">
                {{job.rugStatus}}
            </div>

        </div>
    </div>


</div>


<a class="btn btn-primary" href="#/viewJobBasics/{{job.contactId}}"
<span>Edit Basic Info</span></a><span>   </span>
<span ng-show="job.startDate && job.rooms.length >= 1 && job.dayList.length >= 1">
    <a class="btn btn-primary" href="#/viewJobEquipment/{{job.contactId}}"
    <span>Edit Job</span></a>
    <span>   </span>
    </span>

    <a class="btn btn-primary " ng-click="addRug()"
    <span>Add Rug</span></a>
<a class="btn btn-danger " ng-click="deleteJob()"
<span>Delete Job</span></a>
</div>

<script>

</script>
