<div class="alert alert-warning" ng-hide="online">Working Offline. Changes will be saved when an Internet connection is restored.</div>
<div id="contactCard" disabled="true">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
                <b>Job# </b> {{job.jobID}}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <img src="views/img/person.jpg" class="img-rounded pull-left" />
                <h4 class="list-group-item-heading">{{job.name}}</h4>
                <label>{{job.address}}</label>
            </div>
            <!--<div class="list-group-item">
                <label>Insurance</label>
                <h4 class="list-group-item-heading">Adjuster {{job.adjuster}} Claim# {{job.claimNumber}}</h4>
            </div>-->
            <a class="list-group-item" href="tel://"+{{job.phone1}}">
                <label>Phone 1</label>
                <h4 class="list-group-item-heading">{{job.phone1}}</h4>
            </a>
            <a class="list-group-item" href="tel://"+{{job.phone2}}">
                <label>Phone 2</label>
                <h4 class="list-group-item-heading">{{job.phone2}}</h4>
            </a>
            <!--<a class="list-group-item" href="mailto:Joseph.Barish@masung.com">
                <label>Email</label>
                <h4 class="list-group-item-heading">{{job.email}}</h4>
            </a>-->
            <!--<div class="list-group-item">
                <label>Source of Loss</label>
                <h4 class="list-group-item-heading">{{job.lossSource}}{{formDisabled}}</h4>
            </div>-->
        </div>
        <div class="panel-footer">
            <small class="pull-left">Built with Bootcards - Base Card</small>
            <a class="btn btn-primary pull-right" ng-click="showForm()" <i class="fa fa-pencil"></i>
                <span >Edit</span></a>
        </div>
    </div>
</div>