<div class="alert alert-warning" ng-hide="online">Working Offline. Changes will be saved when an Internet connection is restored.</div>
<div class="alert alert-warning" ng-show="!job.startDate">This job needs a start date.</div>
<div class="alert alert-warning" ng-show="job.rooms.length < 1">This job needs at least one room.</div>

<div id="contactCard" disabled="true">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
                <b>Job# </b> {{job.orderNumber}}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <img src="views/img/person.jpg" class="img-rounded pull-left" />
                <h4 class="list-group-item-heading">{{job.account.accountName}}</h4>
                <label>{{job.account.address1}} , {{job.account.city}} {{job.account.zip}}</label>
            </div>
            <!--<div class="list-group-item">
                <label>Insurance</label>
                <h4 class="list-group-item-heading">Adjuster {{job.adjuster}} Claim# {{job.claimNumber}}</h4>
            </div>-->
            <a class="list-group-item" href="tel://"+{{job.phone1}}>
                <label>Phone 1</label>
                <h4 class="list-group-item-heading">{{job.account.phone1}}</h4>
            </a>
            <a class="list-group-item" href="tel://"+{{job.phone2}}>
                <label>Phone 2</label>
                <h4 class="list-group-item-heading">{{job.account.phone2}}</h4>
            </a>
            <a class="list-group-item" href="job.email">
                <label>Email</label>
                <h4 class="list-group-item-heading">{{job.account.email}}</h4>
            </a>
            <a class="list-group-item" href="">
                <label>Job Start Date</label>
                <h4 class="list-group-item-heading">{{job.startDate}}</h4>
            </a>
            <div class="list-group-item" href="">
                <label>Rooms</label>

                <div ng-repeat="room in job.rooms track by $index">
                    <h4>{{job.rooms[$index]}}</h4>
                </div>
            </div>
            <!--<div class="list-group-item">
                <label>Source of Loss</label>
                <h4 class="list-group-item-heading">{{job.lossSource}}{{formDisabled}}</h4>
            </div>-->
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary " ng-click="showForm()"
            <span >Edit</span></a></span>
            <a class="btn btn-primary" href="#/view/{{job.contactId}}"
            <span>Done</span></a>

        </div>
    </div>
</div>

</div>


