<div class="alert alert-warning" ng-hide="online">
    Working Offline. Changes will be saved when an Internet connection is restored.
</div>
<!--<div class="well well-sm">-->
<!--<h3>{{contact.firstname}} {{contact.lastname}}</h3>-->

<!--<button type="button" ng-click="edit()"   class="btn btn-primary">Edit</button>-->
<!--&lt;!&ndash;<button type="button" ng-click="remove()" class="btn btn-danger">Delete</button>&ndash;&gt;-->
<!--</div>-->


<div id="contactCard" disabled="true">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left"><b>Job#</b> 123123 {{job.jobNumber}}</h3>
            <!--<div class="btn-group pull-right visible-xs">-->
            <!--<a class="btn btn-primary" href="/conta cts/sH5PxrdzkZ3T/edit"-->
            <!--data-toggle="modal"-->
            <!--data-target="#editModal">-->
            <!--<i class="fa fa-pencil"></i>-->
            <!--<span>Edit</span>-->
            <!--</a>-->
            <!--</div>-->
            <!--<a class="btn btn-primary pull-right hidden-xs" href="/contacts/sH5PxrdzkZ3T/edit"-->
            <!--data-toggle="modal"-->
            <!--data-target="#editModal">-->
            <!--<i class="fa fa-pencil"></i>-->
            <!--<span>Edit</span>-->
            <!--</a>-->
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <img src="views/img/person.jpg" class="img-rounded pull-left"/>
                <h4 class="list-group-item-heading">{{job.firstname}}, {{job.lastname}}</h4>
                <label>118 Bellmont, Ave. Tyler TX{{job.address}}</label>

            </div>
            <div class="list-group-item">
                <label>Insurance</label>
                <h4 class="list-group-item-heading">Adjuster {{job.adjuster}} Claim# {{job.claimNumber}}</h4>
            </div>

            <a class="list-group-item" href="tel://+1 650-555-0029">
                <label>Phone 1</label>
                <h4 class="list-group-item-heading">+1 650-555-0029</h4>
            </a>
            <a class="list-group-item" href="tel://+1 650-555-0029">
                <label>Phone 2</label>
                <h4 class="list-group-item-heading">+1 650-555-0029</h4>
            </a>
            <a class="list-group-item" href="mailto:Joseph.Barish@masung.com">
                <label>Email</label>
                <h4 class="list-group-item-heading">Joseph.Barish@masung.com</h4>
            </a>

            <div class="list-group-item">
                <label>Source of Loss</label>
                <h4 class="list-group-item-heading">{{job.lossSource}}{{formDisabled}}</h4>
            </div>
        </div>
        <div class="panel-footer">
            <small class="pull-left">Built with Bootcards - Base Card</small>
            <a class="btn btn-primary pull-right"
               href="/contacts/sH5PxrdzkZ3T/edit"
               data-toggle="modal"
               data-target="#editModal"
               ng-disabled='formDisabled'>
                <i class="fa fa-pencil"></i>
                <span>Edit</span></a>
            <!--<a class="btn btn-primary" href="/contacts/sH5PxrdzkZ3T/edit"-->
            <!--data-toggle="modal"-->
            <!--data-target="#editModal">-->
            <!--<i class="fa fa-pencil"></i>-->
            <!--<span>Edit</span>-->
            <!--</a>-->
        </div>
    </div>

</div>


<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="helpForm" novalidate role="form" ng-submit="submit()">
                <div id="name" class="form-group">
                    <label for="name">Your Name </label>
                    <span class="label label-danger"
                          data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
                  
                    <input type="text" name="name"  data-ng-model="job.firstname" class="form-control" required/>
                </div>

                <div id="email" class="form-group">
                    <label for="email">Your E-mail address</label>
                    <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
                    <span class="label label-danger"
                          data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
                    <input type="email" name="email" data-ng-model="email" class="form-control" required/>
                </div>


                <div id="url" class="form-group">
                    <label for="url">URL of Relevant Page</label>
                    <span class="label label-danger"
                          data-ng-show="submitted && helpForm.$error.url">Invalid URL format!</span>
                    <input type="url" name="url" data-ng-model="url" class="form-control"/>
                </div>

                <div id="comments" class="form-group">
                    <label for="comments">Description</label>
                    <span class="label label-danger" data-ng-show="submitted && helpForm.comments.$error.required">Required!</span>
                    <textarea name="comments" data-ng-model="comments" class="form-control" required></textarea>
                </div>

                <button data-toggle="modal"
               data-target="#editModal" data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-default">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>-->


<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->

<!--&lt;!&ndash;<form class="form-horizontal" method="POST" action="/contacts/{{contact.id}}" data-pjax="#main">&ndash;&gt;-->
<!--<form name="helpForm" novalidate role="form" class="form-horizontal" method="POST" action="" data-pjax="#main">-->

<!--<div class="modal-header">-->

<!--<div class="btn-group pull-left">-->
<!--<button class="btn btn-danger" data-dismiss="modal">-->
<!--Cancel-->
<!--</button>-->
<!--</div>-->

<!--<div class="btn-group pull-right">-->
<!--<button class="btn btn-success" data-ng-click="submit(helpForm)" data-dismiss="modal">-->
<!--<i class="fa fa-check"></i>Save-->
<!--</button>-->
<!--</div>-->

<!--<h4 class="modal-title">-->
<!--Edit Contact-->
<!--</h4>-->
<!--</div>-->

<!--<div class="modal-body">-->
<!--<input type="hidden" name="companyId" value="{{contact.companyId}}">-->
<!--<input type="hidden" name="_method" value="put">-->
<!--<div class="form-group">-->
<!--<label class="col-xs-4 control-label">First Name</label>-->
<!--<div class="col-xs-8">-->
<!--<input type="text" name="firstName" class="form-control" placeholder="First Name"-->
<!--value="Sofia">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-xs-4 control-label">Last Name</label>-->
<!--<div class="col-xs-8">-->
<!--<input type="text" name="lastName" class="form-control" placeholder="Last Name"-->
<!--value="Acey">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-xs-4 control-label">Company</label>-->
<!--<div class="col-xs-8">-->
<!--<input type="text" name="department" class="form-control" placeholder="Department"-->
<!--value="Masung Corp.">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-xs-4 control-label">Phone</label>-->
<!--<div class="col-xs-8">-->
<!--<input type="text" name="phone" class="form-control"-->
<!--placeholder="Phone"-->
<!--value="+1 650-555-0055">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-xs-4 control-label">Email</label>-->
<!--<div class="col-xs-8">-->
<!--<input type="email" name="email" class="form-control" placeholder="Email"-->
<!--value="Sofia.Acey@masung.com">-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</form>-->

<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-danger btn-block"-->
<!--onclick="bootcards.confirmDelete('contact'); return false;">-->
<!--<i class="fa fa-trash-o"></i>-->
<!--Delete Contact-->
<!--</button>-->
<!--</div>-->

<!--</div>&lt;!&ndash;modal-content&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--modal-->
<!--<div id="editModal" class="modal fade" role="dialog" aria-hidden="true">-->
<!--<div class="modal-dialog">-->

<!--<form class="form-horizontal">-->
<!--<div class="modal-header">-->

<!--<div class="btn-group pull-left">-->
<!--<button class="btn btn-danger" data-dismiss="modal">-->
<!--Cancel-->
<!--</button>-->
<!--</div>-->

<!--<div class="btn-group pull-right">-->
<!--<button class="btn btn-success" data-dismiss="modal">-->
<!--Save-->
<!--</button>-->
<!--</div>-->

<!--<h3 class="modal-title">New Company</h3>-->

<!--</div>-->

<!--<div class="modal-body">-->

<!--<div class="form-group">-->
<!--<label class="col-xs-3 control-label">Name</label>-->
<!--<div class="col-xs-9">-->
<!--<input type="text" name="name" class="form-control" placeholder="Company name">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label class="col-xs-3 control-label">Type</label>-->
<!--<div class="col-xs-9">-->
<!--<select name="type" class="form-control">-->
<!--<option value="" selected>Select a Type...</option>-->
<!--<option value="Prospect">Prospect</option>-->
<!--<option value="Customer">Customer</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->

<!--...-->

<!--</div>-->

<!--</form>-->

<!--<div class="modal-footer">-->
<!--<button type="submit" class="btn btn-danger btn-block">-->
<!--<i class="fa fa-trash-o"></i>-->
<!--Delete Company-->
<!--</button>-->
<!--</div>-->

<!--<div class="modal-footer">-->
<!--<small class="pull-left">Built with Bootcards - Form Card</small>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->